{{ form_start(form) }}
    {# {{ form_widget(form) }} #}

        <fieldset class="border px-5">
            <legend class="float-none w-auto p-2" style="left: 100px;">Information du livre</legend>
            <div class="row">
                <div class="col-md-6">
                    {{ form_label(form.titre) }}
                    {{ form_widget(form.titre) }}
                    {{ form_errors(form.titre) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.auteur) }}
                    {{ form_widget(form.auteur) }}
                    {{ form_errors(form.auteur) }}
                </div>

                <div class="col-md-6">
                    {{ form_label(form.resume) }}
                    {{ form_widget(form.resume) }}
                    {{ form_errors(form.resume) }}
                </div>

                <div class="col-md-6">
                    {{ form_label(form.localisation) }}
                    {{ form_widget(form.localisation) }}
                    {{ form_errors(form.localisation) }}
                </div>

                <div class="form-group row">
                    <div class="col-sm-3 form-label">
                        {{ form_label(form.disponibilite) }}
                    </div>
                    <div class=" d-flex justify-content-between col-sm-3 mt-4 ">
                        {% for radio in form.disponibilite %}
                            <div class=" justify-content-between">
                                {{ form_widget(radio, {'attr': {'class': 'form-check-input', 'id' : 'membershipRadios1'}}) }}
                                {{ form_label(radio, null, {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
    
            <div class="row m-2"> <!-- Vous pouvez personnaliser la classe CSS selon vos besoins -->
                <button type="reset" class="col-2 btn btn-secondary">Effacer</button>
                <button class="offset-4 col-2 btn btn-primary">{{ button_label|default('Enregister') }}</button>
            </div>
        </fieldset>

{{ form_end(form) }}
