{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
 <div class="container">
    <h1>Liste des livres</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <a class="btn btn-primary" href="{{ path('app_livre_new') }}">Creer un nouveau livre</a>
    <table class="table text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Resume</th>
                <th>Disponibilite</th>
                <th>Localisation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.auteur }}</td>
                <td>{{ livre.resume }}</td>
                <td class="badge-success">{{ livre.disponibilite }}</td>
                <td>{{ livre.localisation }}</td>
                <td class="d-flex justify-content-between">
                    <a class="btn btn-success mx-2" href="{{ path('app_livre_edit', {'id': livre.id}) }}">Modifier</a>
                    <button type="button" class="btn btn-danger supprimerlivre" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="{{ livre.id }}">Supprimer</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {# <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(livres) }}
        </div> #}
 </div>

 {{ include('_modal_delete.html.twig') }}
 <script src="{{ asset('js/supprimermodal.js') }}"></script>
{% endblock %}
