{% extends 'base.html.twig' %}

{% block title %}Emprunt{% endblock %}

{% block body %}
    <h1>Emprunt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emprunt.id }}</td>
            </tr>
            <tr>
                <th>Dateemprunt</th>
                <td>{{ emprunt.dateemprunt ? emprunt.dateemprunt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Dateretourprevue</th>
                <td>{{ emprunt.dateretourprevue ? emprunt.dateretourprevue|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Dateretoureffective</th>
                <td>{{ emprunt.dateretoureffective ? emprunt.dateretoureffective|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_emprunt_index') }}">back to list</a>

    <a href="{{ path('app_emprunt_edit', {'id': emprunt.id}) }}">edit</a>

    {{ include('emprunt/_delete_form.html.twig') }}
{% endblock %}
